/* style colors to work off of:
    (1) FFAC81 which is light salmon
    (2) FF928B which is congo pink
    (3) C1D7AE which is tea green
    (4) 6EB4D1 which is maximum blue
    (5) 6CBEED which is maya blue
 */

.headshot {
    width: 300px;
    height: 334px;
    border-radius: 100%;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #57B8FF;
  color: black;
}
  
/* Add a color to the active/current link */
.topnav a.active {
  background-color: #57B8FF;
  color: white;
}